/** @format */
body {
  background: linear-gradient(
    109.6deg,
    rgb(10, 150, 145) 11.2%,
    rgb(130, 219, 216) 55.4%,
    rgb(250, 237, 203) 100.2%
  );
}
h1 {
  font-family: "Neucha", cursive;
  margin: 15px auto 5px auto;
  text-align: center;
  font-size: 50px;
  color: #070808;
  width: 95%;
}
hr {
  width: 35%;
  display: block;
  margin: 10px auto 10px auto;
  color: #21aba5;
}

#city {
  font-family: "Neucha", cursive;
  padding: 2px auto;
  font-size: 45px;
}
.container-fluid {
  text-align: center;
  font-family: "Neucha", cursive;
  width: 65%;
  padding: 25px 15px 25px;
  margin: 10px auto 10px auto;
  border: 1px dotted #21aba5;
  background-color: white;
  border-radius: 20px;
}
.image-header {
  width: 50%;
}

.enter-city {
  padding: 3px 10px;
  width: 50%;
  border: 1px solid #31d2f2;
  font-size: 15px;
  margin-bottom: 10px;
}

.btn-info {
  border: none;
  padding: 6px 10px;
  font-size: 13px;
  background-color: #21aba5;
  transition: all 200ms ease-in-out;
}
.btn-info:hover {
  background-color: #45eba5;
}

#current-temperature {
  font-size: 55px;
  color: #49b47e;
}
#current-temperature .active {
  color: rgb(0, 0, 0);
}

#celsius-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.8;
}

.degreesSymbol {
  font-size: 14px;
  font-weight: bolder;
}
.degreesSymbolMin {
  color: #5f6363;
  font-size: 14px;
}
#maxtemp {
  font-weight: bolder;
  font-size: 18px;
}
#mintemp {
  font-size: 18px;
  color: #5f6363;
}

#weather-description {
  display: block;
  font-style: italic;
  padding: 0px;
}

#weather-description::first-letter {
  text-transform: uppercase;
}

.current-time-image {
  padding: 0 auto;
}
.container-fluid-details {
  text-align: center;
  display: block;
  font-family: "Neucha", cursive;
  width: 85%;
  padding: 20px 10px;
  margin: 10px auto 10px auto;
  border: 2px dotted #21aba5;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #0ea0a54d;
}
.fa-wind,
.fa-tint {
  color: #31d2f2;
  text-align: center;
}
.weather-details {
  font-size: 19px;
  text-align: center;
}
.weather-values {
  font-size: 17px;
  text-align: center;
}
.lastUpdated {
  font-weight: bold;
}
#current-time {
  padding: 5px;
  font-size: 16px;
}

.weather-forecast {
  text-align: center;
  font-family: "Neucha", cursive;
  width: 95%;
  padding: 20px 10px;
  margin: 10px auto 10px auto;
  border: 2px dotted #21aba5;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #0ea0a54d;
}
.weather-forecast-date {
  font-weight: bolder;
  font-size: 20px;
  color: #1d566e;
}

.weather-forecast-temperature-max {
  font-weight: bolder;
  font-size: 16px;
}
.weather-forecast-temperature-min {
  font-size: 16px;
  color: #5f6363;
}

.weather-forecast-date {
  text-align: center;
}
.forecast-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.forecast-image {
  width: 80%;
}
.forecast-degrees-min,
.forecast-degrees-max {
  opacity: 0.7;
  color: #000;
}
.forecast-degrees {
  font-size: 14px;
  color: #0000;
}

.coded {
  padding-bottom: 5px;
  font-family: monospace;
  text-align: center;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.733);
}
.contact {
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.shecodes {
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
}

.contact:hover {
  color: #ffff;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  font-weight: bolder;
}
.shecodes:hover {
  color: #fff;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  font-weight: bolder;
}

.open-source {
  color: #333333;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0px auto 20px;
}
